{% block body %}



<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page de Connexion</title>
    <link rel="stylesheet" href="style.css">


</head>

<body>
    <div class="login-container">

<script src="/socket.io/socket.io.js"></script>

    </div>
</body>

</html>


{% endblock %}